<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignIn/Register</title>
</head>
<body>
    <div>
        <button onclick="signIn()">Click Here to SignIn</button>
        <button onclick="Register()">Click Here to Register</button>
    </div>


    <script>
        function signIn(){location.href="http://127.0.0.1:8000/login";}
        function Register(){location.href="http://127.0.0.1:8000/acn";}
    </script>
</body>
</html>