{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/styles/index-css.css' %}">
    <title>Login</title>
</head>
<body>
    <div class="head-panel">
        <nav>
            <li><a href="/">Home</a></li> |
            <li><a href="/up" >Upload</a></li> |
            <li><a href="#">About</a></li> |
           
            <li><a href="#">All Apps</a></li>
        </nav>
    </div>
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    <input type="submit" value="Submit">
    </form>
</body>
</html>